#!/usr/bin/make -f
# Debian/rules for building libmypaint from git.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Hardening
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

build: build-arch build-indep

build-arch: build-stamp

build-indep: build-stamp


build-stamp:
	dh_testdir
	./autogen.sh --prefix=/usr
	make
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp
	make maintainer-clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	DESTDIR=$(CURDIR)/debian/tmp make install
	dh_install --fail-missing 
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installmenu
	#dh_python2
	#dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums

binary-indep: install
	dh_builddeb --indep

binary-arch: install
	dh_builddeb --arch

binary: install
	dh_builddeb

.PHONY: build clean binary-indep binary-arch binary install
